[2020-04-01 16:06] prabhu opened #15 "Documentation updates pre-launch"
- [x] Update public documentation site based on content from this [document](https://docs.google.com/document/d/1w_KksA7hQ92g_ziBvgUsdbtRmHB15fx86-pcmXBH2RQ/edit)
- [x] Take screenshots and videos where necessary

[2020-04-02 13:59] #15 closed, assigned to prabhu, tuxology

[2020-04-27 19:39] takirala opened #37 "Inconsistencies in flag names for src and out_dir"
When i do a `scan -h` :

[code]

Note that while most flags are using `-`, only `out_dir` flag is using `_`. Also the `src` (which needs to be a directory doesn't have a `dir` suffix while the `out_dir` has the `dir` suffix.

This is a silly UX issue but still noticeable when setting up as a beginner.

[2020-04-28 07:22] prabhu commented on #37
I think this is a good observation. I kept `--src` generic so that we can support repo url and other sources in the future. The `--out_dir` flag was due to a side effect - to be compatible with a predecessor of scan which was used in some enterprises.

[2020-04-28 07:26] prabhu opened #39 "Upgrading go runtime to 1.13"
We currently bundle go version 1.12 which is now two major versions behind the latest 1.14. I am in the process of upgrading the bundled go version to 1.13 and testing the built-in tools for compatibility.

[2020-04-28 07:52] #39 closed

[2020-04-28 08:18] prabhu commented on #37
I have now added `-i` and `-o` alias for these two parameters. Let me know what you think?

[2020-04-28 15:52] takirala commented on #37
Sounds good @prabhu  :+1:

[2020-04-28 21:30] prabhu commented on #37
Thank you. Marking this as closed.

[2020-04-28 21:30] #37 closed

[2020-05-03 16:46] prabhu opened #46 "Breaking up the scan image"
I think it's time to break up the scan image into a handful of combinations to keep the size under control.

Following are the combinations I'm thinking:

## Java 11 + Python + Ruby + Go

shiftleft/sast-scan
shiftleft/scan (New alias)

## Java 8/11 + Python + Ruby + Go
shiftleft/scan-java

## dotnet 2.1/3.1 + Python + Ruby + Go
shiftleft/scan-csharp

We need Python and Go in all images since our t

[2020-05-03 20:31] #46 closed

[2020-05-08 04:13] awentzel opened #52 "Question: Any plans on supporting TypeScript and JavaScript?"
Thx

[2020-05-08 05:00] conikeec commented on #52
@awentzel  happy to discuss JavaScript and TypeScript with you. We just launched the offering with our Inspect skew (https://www.shiftleft.io/inspect/).
Feel free to email me at  chetan@shiftleft.io to discuss further

[2020-05-08 13:13] prabhu commented on #52
Thanks @conikeec

To answer @awentzel specifically about OSS, scan uses nodejsscan which supports Node.js and JavaScript. The tool, however, is a little basic using mainly regex to detect vulnerabilities. I agree that JavaScript and TypeScript community would benefit from better tools but there is not much available on the OSS right now.

If you are aware of any such tool please let us know and I

[2020-05-08 14:40] awentzel commented on #52
@conikeec @prabhu do you know what CodeQL Analysis uses?  I gave up on it already due to almost no documentation and it doesn't seem to work, but, curious.  I'll email.  It would be great to lead on the security front in our project https://github.com/microsoft/fast-dna.  We're leading on Web Components right now working across browser vendors.  I'll email to learn more about Inspect.

ShiftLeft h

[2020-05-10 11:50] prabhu opened #54 "Convert depscan and license findings to SARIF format"
Scan currently use grafeas format for representing vulnerability and license audit findings. Converting this into SARIF format will make the information presentable on Inspect, GitHub code scanning and in our VS code extension.

[2020-05-18 15:39] prabhu opened #63 "Fix the code scanning alerts for test data"
Code scanning alerts for this repo is generating few alerts for test data. Need to fix them in the code and document the process to suppress alerts.

[2020-05-21 06:32] prabhu opened #64 "Integrate checkov"
https://github.com/bridgecrewio/checkov

[2020-05-21 17:11] conikeec commented on #52
@awentzel Would be great to take this conversation to email so that we can help you with clear next steps. I sent few emails over the past few weeks (from chetan@shiftleft.io) but haven't received a reply as yet.
Let me know if you received the emails I sent.

[2020-05-21 17:55] awentzel commented on #52
Feel free to close this issue, and we'll continue online early June to restart this convo.

[2020-05-21 17:55] #52 closed

[2020-05-21 18:19] #64 closed

[2020-05-21 23:37] venky223 opened #69 "scan using custom config file either by passing env or by mounting the file during docker run."
I'm unable to pass my custom config file through docker run to find the secrets. Is there a way that i can use my config file during docker run to find secrets.

docker run --rm -e "WORKSPACE=${PWD}" -e "CREDSCAN_DEPTH=0" -e "CREDSCAN_CONFIG=credscan-config.toml" -v $PWD:/app:cached shiftleft/sast-scan scan --src /app --type credscan --out_dir /app/reports

[2020-05-22 11:45] prabhu commented on #69
Hi @venky223

Please specify the full path to the config files including /app.

[code]

This is because /app is the directory inside the container image which is what the scan command would see.

It is also possible to customize the behaviour scan using a file called `.sastscanrc` as explained here: https://slscan.io/en/latest/integrations/tips/#config-file. An example for your use case is below:

[2020-05-25 18:46] prabhu opened #71 "Terraform scan for sadcloud needs investigation"
It appears like checkov is not running properly for this repo.

[2020-05-26 12:28] prabhu commented on #71
Issue raised with checkov - https://github.com/bridgecrewio/checkov/issues/295

[2020-05-27 12:28] prabhu commented on #71
This is resolved now

[2020-05-27 12:28] #71 closed

[2020-05-28 02:40] niuzhi opened #72 "sast-scan scanning prompts the following errors"
I use sast-scan to scan a python project and it shows an error? How to solve it? Thank you
![image](https://user-images.githubusercontent.com/33443724/83092298-95caed00-a0cf-11ea-85a5-8509b35c83cf.png)
command：root@ubuntu:~/niuzhi/tarpit-python-master# docker run --rm -e "WORKSPACE=${PWD}" -v /root/niuzhi/tarpit-python-master:/app shiftleft/sast-scan scan

[2020-05-28 04:08] prabhu commented on #72
Hi @niuzhi

I am not able to reproduce this error but able to guess that the docker image you have is not complete. Can you do a fresh docker pull and run scan again?

[code]

[2020-05-28 04:11] prabhu commented on #69
Hi @venky223,

Did the above suggestions work?

[2020-05-28 06:39] niuzhi commented on #72
hi @prabhu.
thanks.I use  sast-scan scan python project:tarpit-python-master,but find no problem?why?
tarpit-python-master project contains data leak vul.
![image](https://user-images.githubusercontent.com/33443724/83107563-14845200-a0f1-11ea-8015-eaa6cb46967f.png)

[2020-05-28 10:38] prabhu commented on #72
Hi @niuzhi

Scan cannot detect vulnerabilities in tarpit-python since it is an advanced test. Consider using https://github.com/prabhu/python-insecure as a test repo for python. Detailed explanation below.

tarpit-python data leak is an advanced detection test arrived by analyzing the whole data flow and using custom policies.

For example:

https://github.com/ShiftLeftSecurity/tarpit-python/blob/

[2020-05-29 00:55] niuzhi commented on #72
@prabhu
I wonder if you have research on data flow acquisition? Can you recommend some tools for getting data streams, except joern, thank you!
Abstract Interpretation Framework。
https://github.com/facebookincubator/SPARTA，https://github.com/NASA-SW-VnV/ikos

[2020-05-29 02:26] prabhu commented on #72
Try [Pysa](https://pyre-check.org/docs/pysa-running.html). I couldn't get it working but happy to take any PR for that.

[2020-06-03 16:12] nickbabkin opened #76 "Gosec not available yet?"
Hi, and thanks for the wonderful tool!

I wonder if gosec and staticcheck are already available?
I'm triggering a build in CircleCI with the following config:

`# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
# Comment
version: 2.1
# Use a package of configuration called an orb.
#orbs:
  # Security scan orb
  #sast-scan:

[2020-06-03 16:42] prabhu commented on #76
@nickbabkin Thank you.

`-t` parameter in scan indicates the language type. If you specify `-t go` then internally gosec and staticcheck would be used.

I will update the docs to clarify this as well.

[2020-06-03 16:43] prabhu commented on #76
Also since staticcheck requires the compiled binary either do a go build before scan or add the parameter `--build`

[2020-06-03 17:00] nickbabkin commented on #76
@prabhu thanks for the quick answer!
I added `-t go ` and it seems to execute fine now.

P.S. Funny enough, neither gosec nor staticcheck find any critical or high vulnerabilities in the following project:

https://github.com/0c34/govwa

Here are the generated reports:
https://send.firefox.com/download/9b6ff8ce165f4757/#qbgxCAVv2EmeP1tBrLhE1Q

Wonder if it's a tool issue or sast-scan issue.

[2020-06-03 17:35] prabhu commented on #76
yes, staticcheck is complaining about missing dependencies. I tried doing a go get and found that the project is quite ancient - 2 years is like 2 decades in go.

Try this sample project - https://github.com/HooliCorp/shiftleft-go-example

[2020-06-03 18:09] prabhu opened #78 "Replace nodejsscan with njsscan"
https://github.com/ajinabraham/njsscan

njsscan seems to offer a bit of an improvement over nodejsscan. There is still no state-of-the-art oss scanner for javascript but something is better than nothing.

[2020-06-04 02:03] prabhu commented on #63
I attempted to fix the alerts via credscan-config.toml. It is now reporting issues with the credscan config file :)

[2020-06-05 20:52] prabhu commented on #63
This is implemented with better regex based whitelisting.

[2020-06-05 20:52] #63 closed

[2020-06-06 16:23] prabhu opened #82 "Test and document scan in offline/airgap mode"
Scan should work offline (without internet connectivity) for SAST scanning. For dependency scanning, it has to pull vulnerability databases from NVD and GitHub. This issue involves testing scan without internet connectivity and documenting the experience.

[2020-06-07 10:53] prabhu opened #83 "Replacing usage of whitelist/blacklist"
whitelist -> allowlist
blacklist -> blocklist

There are some references to these terms due to the underlying tools used. For example:

- Checkov - Rules, filters
- Credscan - config file
- Findsecbugs - Results
- bandit - Results

This issue will track the requests and comments from the underlying tools.

[2020-06-07 10:57] prabhu commented on #83
checkov issue - https://github.com/bridgecrewio/checkov/issues/330

[2020-06-11 03:25] niuzhi opened #84 "When credscan scans, it prompts error: repository does not exist?"
![image](https://user-images.githubusercontent.com/33443724/84341653-393ef600-abd6-11ea-845d-86caa284abe7.png)
can you help me?thanks

[2020-06-11 09:56] prabhu commented on #84
@niuzhi credscan requires a git repository along with .git directory to work. Can you confirm how the repository was cloned and whether .git directory is present?

[2020-06-11 10:30] niuzhi commented on #84
@prabhu thanks,I have solved it.

[2020-06-11 10:30] #84 closed

[2020-06-14 21:14] prabhu commented on #83
There has been some traction on this with the checkov issue now resolved. The new terms allowlist and blocklist definitely sound more self-explanatory than the color codes it replaces.

There is another movement in tech to rename master branch to main. I believe this is unnecessary since the master branch is like the master copy of a tape and has nothing derogatory associated with the usage.

I'm

[2020-06-14 21:14] #83 closed

[2020-06-15 19:19] prabhu opened #86 "Integrate rust-clippy"
https://github.com/rust-lang/rust-clippy

[2020-06-16 12:43] prabhu opened #87 "infrastructure scan is quite slow"
The infrastructure scan is currently using a directory-based scan and is often quite slow on repos having only a handful of yaml files.

One option is to replace this with explicit files depending on the number of files found.

https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/config.py#L321

[2020-06-16 12:52] prabhu commented on #87
Issue raised [here](https://github.com/bridgecrewio/checkov/issues/351)

[2020-06-16 15:42] prabhu commented on #78
This is done. New scans for node.js will automatically use njsscan. I have left the old nodejsscan in the docker image for now and will remove it at some point in the future.

[2020-06-16 15:42] #78 closed

[2020-06-16 17:51] prabhu opened #89 "Support automatic build for rush projects"
We currently support npm and yarn for automatically building node.js projects. For mono repo, rush is getting popular.

https://rushjs.io/

[2020-06-24 19:52] #89 closed

[2020-06-24 19:52] #87 closed

[2020-06-24 19:53] prabhu opened #103 "Support golint ignore tags"
Projects that use golint use golint specific ignore tags which are not supported by gosec and staticcheck. This is resulting numerous false positives. Perhaps, scan should automatically ignore such findings.

[2020-06-26 12:24] prabhu opened #104 "Bug: helpUri is invalid with Code Scanning upload step"
[code]

Uploads are failing with the above error.

[2020-06-26 12:59] #104 closed

[2020-07-01 19:07] prabhu opened #109 "NOTICE: Deprecation of njsscan - Node.js scanner"
After extensively testing njsscan, I have decided to campaign for bringing the ShiftLeft NG SAST analyzer to the open-source world and use it for the scan product. njsscan is a good project but in the end it is only doing a glorified grep. As the customer number 1 for scan, I want scan to not slow me down by giving too many false positive results.

This transition will happen over time with the av

[2020-07-05 09:07] prabhu opened #115 "Create scan AppImage"

[2020-07-05 17:48] prabhu commented on #115
This is now implemented. AppImage will be automatically produced and uploaded to GitHub releases.

[2020-07-05 17:48] #115 closed

[2020-07-08 10:16] prabhu opened #122 "php taint analysis has duplicate results"
Sometimes the same result is reported 3 or 4 times. Possibly a downstream defect in the tool but needs investigation.

Example

[code]

[2020-07-08 11:52] prabhu commented on #122
Tracked here https://github.com/vimeo/psalm/issues/3773

[2020-07-08 13:08] muglug commented on #122
I think this tool needs to provide some information about the different paths, otherwise users might think these are duplicate results.

[2020-07-08 13:31] prabhu commented on #122
@muglug
Thanks for the clarification. I will try to understand the new json format and see if the source and sink can be represented better.

[2020-07-09 12:02] prabhu commented on #122
This is implemented by highlighting the source for now. There are still many results being returned and it is not clear whether all of them are valid. Have to filter out false positives at some point.

[2020-07-09 12:02] #122 closed

[2020-07-09 12:07] prabhu opened #126 "Improve bitbucket pipelines experience"
Scan is a bit easy to integrate with [bitbucket pipelines](https://slscan.io/en/latest/integrations/bitbucket/). However, where the flow breaks is in viewing the reports produced by scan. There are just too many steps involved:

1. Create app password with the right permissions
2. Upload artifacts produced by scan using the pipe `atlassian/bitbucket-upload-file:0.1.4`. This pipe is quite basic and

[2020-07-09 12:09] prabhu commented on #126
Request made to Bitbucket to support SARIF on 03/June/2020 - https://jira.atlassian.com/browse/BCLOUD-20199

[2020-07-09 12:30] prabhu opened #127 "Support for mono-repo"
It will be a fun exercise to make scan work for mono repos such as https://github.com/swapnil-linux/spring-boot-examples

In theory, this can be achieved using a bit of bash with the new scan AppImage.

[2020-07-12 10:34] prabhu commented on #126
Documentation updated to recommend zipping the reports directory to workaround the single file limitation.

[2020-07-21 13:14] #54 closed

[2020-07-21 13:14] prabhu commented on #54
This is not going to be possible. We will continue with the existing formats for now.

[2020-07-22 12:22] prabhu opened #134 "Dependency and license scan results are printed multiple times for multi type projects"
Needs triaging since not sure where the issue lies.

[2020-07-22 17:11] jooh-lee opened #136 "custom build_break_rules for max thresholds not being used"
I've set the below at the root of the git repo before scanning:
`{"build_break_rules":{"default":{"max_critical":0,"max_high":0,"max_medium":0}}}`

This isnt actually causing the build to break even though some of those limits are getting exceeded. In one of the builds, we the following result:
[code]
Based off the custom build_break_rules the medium of 1 should have caused it to exit with a failu

[2020-07-22 17:18] prabhu commented on #136
Build rules are currently limited to only SAST. I think the summary you have posted is for dependency scan results. My view is that just because there is a medium vulnerability in an oss dependency doesn't mean the build should break since the particular package may or may not be used in an attacker controlled path at all. We consider dependency scan results as an additional data to prioritize SAS

[2020-07-22 17:24] jooh-lee commented on #136
are there plans to add an option to allow setting module thresholds? I can implement a local work around but would be nice if we can set the thresholds for modules as well

[2020-07-22 17:48] prabhu commented on #136
Can you explain module threshold?

[2020-07-22 18:20] jooh-lee commented on #136
oh sorry, i mean the dependency scan thresholds

[2020-07-22 20:50] prabhu commented on #136
Sure happy to include this in the version 2 roadmap

[2020-07-22 20:50] prabhu commented on #134
This is resolved. Dep scan can now handle mixed-type projects better.

[2020-07-22 20:50] #134 closed

[2020-07-27 02:02] niuzhi opened #140 "How does sast integrate new code inspection tools?"
How does sast integrate new code inspection tools? How to add new custom inspection rules? For example, add the check of the infer tool.

[2020-07-27 08:47] prabhu commented on #140
Hi @niuzhi
Do you have a specific tool or rule in mind? Adding a tool currently takes anywhere from 2 days to 2 weeks depending on the work required to convert the report to sarif format and fix false positives. Happy to document the steps involved while working on a new tool.

[2020-07-27 09:05] niuzhi commented on #140
hi @prabhu
Infer and so on

[2020-07-27 09:47] prabhu commented on #140
I remember seeing infer sometime back. Can it perform any security checks or pure linting? I can see [Quandary](https://fbinfer.com/docs/experimental-checkers/#quandary) but not sure how good it is. Do you have any example repos that show these in action?

[2020-08-06 21:59] #126 closed

[2020-08-06 21:59] prabhu commented on #126
Scan natively supports code insights and Bitbucket PR comments

[2020-08-07 00:25] prabhu commented on #103
Implemented in 1.9.16

[2020-08-07 00:25] #103 closed

[2020-08-10 20:50] jooh-lee opened #149 "detecting secret in a file that doesn't exist"
This is a weird one and not sure how to even debug. In our private frontend mono-repo the scan is detecting a plaintext secret in the following file `src/components/table/responsive-table.tsx` however in the actual codebase the file doesn't actually exist. The closest is `src/component/tables/table.tsx`. I printed the contents of `src/components` and there is no `table` folder in there in the ci b

[2020-08-10 20:55] prabhu commented on #149
Hi @jooh-lee

Scan can detect secrets even in files that were deleted from git but still available in the form of commits and git history. Take the commit hash reported and search for that commit. In case of github you can use the url of the form repo/commit/hash

[2020-08-11 11:21] prabhu opened #150 "PHP scan is failing when using wp-cli"
Apparently, WP_CLI_Command doesn't follow psr-0

Upstream reference:
https://github.com/vimeo/psalm/issues/3980

[2020-08-12 20:44] prabhu commented on #150
This is working with the latest composer dump-autoload change in builder.

[2020-08-12 20:44] #150 closed

[2020-08-13 10:37] prabhu commented on #149
@jooh-lee did it help?

[2020-08-13 11:02] prabhu opened #155 "Support for baseline"
Every invocation of scan is currently a fresh invocation resulting in a full scan. For teams with known technical debt this is resulting in many findings per scan and is affecting the ability to identify new issues from a particular branch or PR. With a remote server and API access it is possible to implement features to compare findings across invocations. It is also possible to use GitHub Code s

[2020-08-13 15:22] prabhu opened #158 "GitHub bot: Multiple comments are created on PR"
Instead only one comment should exist, and old comments should get removed.

[2020-08-13 22:50] #158 closed

[2020-08-14 20:44] jooh-lee commented on #149
hi, turns out its a problem with codebuild's git clone depth setting. If you set it outside the pre-determined 1,5,25... it just pulls the full history. It does allow you to set other number through terraform, but it doesnt respect it. I had it set for clone depth of 2

[2020-08-14 20:44] #149 closed

[2020-08-14 21:19] prabhu commented on #149
Great find! Btw, will you be kind enough to share a working configuration for codebuild and codepipeline? I will add it to the docs and credit you!

[2020-08-17 11:25] prabhu opened #163 "An exciting new scanner for python"
I'm working on a new scanner for python which is arriving this week. It is looking very promising. This placeholder issue is used to track all the existing known issues.

- [ ] Duplicate looking message when the sink is identified via the [framework parameter](https://github.com/ShiftLeftSecurity/sast-scan/blob/feature/pyt/lib/pyt/vulnerabilities/vulnerabilities.py#L35) source and user controlled

[2020-08-17 16:28] prabhu commented on #163
A single tools directory containing 182 files in django-DefectDojo is causing the tool to take infinite time. All other directories work fine.

[2020-08-17 17:12] #163 closed

[2020-08-19 19:41] stevesea opened #168 "no depscan report generated if no vulnerabilities are found"
If I run sast-scan on my project:

[code]

I see output like:
[code]

But, the /app/reports/depscan-report.json file is not created. Many of the other tools within sast-scan seem to still generate a report if no vulnerabilities are found.

Prior to setting `SCAN_DEBUG_MODE=debug`, I didn't get any indication from sast-scan output depscan ran and didn't find any issues.

[2020-08-19 19:44] prabhu commented on #168
@stevesea Thanks for reporting this. Few tools such as credscan, python taint do not produce the file with empty results. But agree it will be nice to make it consistent. I will take a look at this. Glad you found the DEBUG_MODE flag. It helps hide the crashes from everyday scans but agree will make the initial diagnosis quite hard.

[2020-09-03 08:29] andrecarlucci opened #188 "Any plans to support c#?"

[2020-09-03 08:34] prabhu commented on #188
Hi @andrecarlucci

c# is supported in our commercial product. Below is a sample repo and link to the docs:

https://github.com/ShiftLeftSecurity/shiftleft-csharp-example
https://docs.shiftleft.io/ngsast/analyzing-applications/c-sharp

With scan, I couldn't find a suitable opensource alternative for SAST. Dependency and license scan however are supported for .Net core projects. If you come across a

[2020-09-03 12:44] andrecarlucci commented on #188
Awesome, thanks for the info :)

[2020-09-03 12:44] #188 closed

[2020-09-05 17:43] prabhu opened #192 "Skip scan when the PR is raised by a bot"
Bots such as Renovate and dependabot are creating way too many PR especially for node.js repos. It will be nice to add a setting that skips scan for such PRs. This will in fact help:

- Save build minutes especially for private repos
- Help GitHub improve their SLA since collectively several tens of thousands of compute minutes will be saved per day
- Reduce energy usage

One approach is to look f

[2020-09-06 09:57] prabhu opened #193 "Testing infrastructure for windows"
It is quite possible that scan is either completely broken or not working well on Windows. Ever since I moved away from using Windows 10 to Linux mint scan is not getting any windows testing. Both Azure and GitHub actions windows agents do not currently support running Linux containers on Windows.

This ticket would track any custom infrastructure required to bring back Windows testing.

[2020-09-06 21:38] #192 closed

[2020-09-07 12:44] gitnachogo commented on #155
Definitely, one of the things that makes people trust it the most is not to send any data to an external server, so I agree with the idea of using CI cache or some other ways too.
I think I could be up to develop this feature next month or the following 👍

[2020-09-09 14:40] troyfontaine opened #196 "VS Code Extension "unable to create context store: $HOME is not defined""
VS Code Version 1.48.2
Host OS: MacOS 10.14.6
Security Scan: 1.2.0

Upon installing the extension, the security scan ran automatically and threw the error "unable to create context store: $HOME is not defined" in the Output pane of VS Code.  And running it manually also triggers the same error.

[2020-09-09 15:48] prabhu commented on #196
Hi @troyfontaine Are you confident it was sast-scan that threw the output? scan uses a separate output channel for the vs code extension. Also was it reproducible after reloading the window?

[2020-09-09 15:51] troyfontaine commented on #196
Hi @prabhu I am confident it is sast-scan generating it-it occurs every time I try to run a scan from the UI in VS Code via the extension.  Reloading, uninstalling and re-installing it continues to occur.

![image](https://user-images.githubusercontent.com/11366027/92622128-53967780-f28a-11ea-95f4-8241c16ec52b.png)

The scanner UI will just sit there as if hung on the error:
![image](https://user-

[2020-09-09 15:52] prabhu commented on #196
Interesting! Is docker desktop for mac running btw? Are you able to run scan via the cli and then see the reports with the extension? You can open the .sarif files generated in reports directory and the extension should automatically display it.

[2020-09-09 16:07] troyfontaine commented on #196
@prabhu I've been able to run scans using the example commands without issues.  The .sarif file is not automatically previewed when I double click on it in the VS-Code window's file list.

[2020-09-09 18:08] prabhu commented on #196
ok will take a look. Have to find a mac since I have moved to linux and windows :(

[2020-09-10 12:41] gitnachogo opened #197 "[Troubleshoot] Depscan reporting nothing"
Hi!
I am integrating ShiftLeft Scan into my organization's GitLab CI/CD environment using this .gitlab-ci.yml for a maven project:
[code]
I create the /db directory, mounting it to /db and setting the VDB_HOME to /db, just in case this was the error, because before doing it, it tried to do `mkdir` on /.local and it had no permissions to do so. The output of the tool is the following one:
![image](

[2020-09-10 13:09] prabhu commented on #197
Hi,

Can you try passing the source directory like this - `--src ${CI_PROJECT_DIR}`

[code]

Regarding SAST scan is there an existing reports directory in the repo containing some sarif files? It seems to be picking some files from somewhere.
`

[2020-09-10 14:06] gitnachogo commented on #197
As I said, I need to mount the /db volume since the depscan tries to create the `/.local`, displaying this error:
[code]
And regarding the SAST scan, as I said, before this script there is no `reports` folder. I know this because I run an `ls -la` before the `docker run`

[2020-09-10 23:31] prabhu commented on #196
The extension is working fine for me on a mac. I even asked another colleague to test. Are there any errors in the developer tools on vs code?

[2020-09-10 23:36] prabhu commented on #197
Ok to solve the /.local error try setting VDB_HOME environment variable to ${CI_PROJECT_DIR}/.local

For docker-in-docker, can you print the value of ${CI_PROJECT_DIR}. It is quite possible some environment variable is becoming empty inside the second instance.

[2020-09-11 13:51] troyfontaine commented on #196
I'll check this morning.  I am now noticing a pop up in the lower right corner of VS Code asking if Docker for Mac is installed.  I am using Docker for Mac edge if that plays at all into things-but I will check the developer tools and look at reinstalling VS Code.

[2020-09-11 16:28] troyfontaine commented on #196
Hi @prabhu looks like it was specifically that I was using Docker for Mac edge.  Uninstalling and installing Stable the VS Code Plugin works fine.

[2020-09-11 17:17] prabhu commented on #196
Thanks @troyfontaine. I will try to reproduce this docker edge and iterm and get back to you.

[2020-09-12 12:29] prabhu commented on #196
Hi @troyfontaine

Can you try the extension from the below link to see if it works on both docker edge and stable version on mac?

https://github.com/ShiftLeftSecurity/shiftleft-scan-vscode/suites/1182490143/artifacts/17312616

[2020-09-12 17:20] #196 closed

[2020-09-14 08:27] gitnachogo commented on #197
Setting the VDB_HOME to ${CI_PROJECT_DIR}/.local works, but I've not found out why docker-in-docker wasn't working in this case, guess maybe something related to my organization's environment.
Anyway, I've got it working using the config in the docs, so I'll close this issue.

[2020-09-14 08:27] #197 closed

[2020-09-14 09:02] gitnachogo opened #198 "Depscan html report not generated - (Java version issue?)"
Hi!
I've been integrating sast-scan in my CI/CD pipelines in GitLab, and I've realized the depscan and license-scan html reports are not generated. I have a feeling that the java/JDK version is possibly having to do with this.
Before, I used to set the `JAVA__HOME: /data/java/jdk1.8.0_102/jre` variable and the reports were generated:
[code]
However, I wouldn't like to set the JAVA_HOME as JRE anym

[2020-09-14 09:08] prabhu commented on #198
Any bom-java.json got created under reports directory?

If your application specifically needs Java 8, you can use the `shiftleft/scan-java` container image. This has both Java 8 and 11. Then set the environment variable `USE_JAVA_8`.

If this still doesn't work, run [cdxgen](https://github.com/AppThreat/cdxgen) tool separately to see if it is able to produce the file.

[code]

[2020-09-14 09:12] gitnachogo commented on #198
All of these have been the files generated. Does this help?
[code]
I don't think there is any problem scanning dependencies because the results are shown in the cli:
![image](https://user-images.githubusercontent.com/67385224/93067158-2592a800-f67b-11ea-8185-c5d8eacb08cd.png)

[2020-09-14 10:19] gitnachogo commented on #198
However, I've tried using `shiftleft/scan-java` with the `USE_JAVA_8: "true"` and it still does not generate an html for the depscan and license scan. Here's the info the image outputs:
[code]
Btw, files generated:
[code]

[2020-09-14 13:00] prabhu commented on #198
You are no longer seeing message like below?

[code]

[2020-09-14 13:03] gitnachogo commented on #198
No, that message is not shown yet. It's just displayed the SAST scan results after what I've previously shown in the screenshot

[2020-09-14 13:44] prabhu commented on #198
Ok, I think I know what is happening. These lines are no longer getting executed https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/executor.py#L231. This could happen if due to some reason dependency and license scan is taking more time and is continuing in the background because of multiprocessing.

[2020-09-14 15:10] gitnachogo commented on #198
I've been testing the same pipelines that worked once (with the other java version), and re-running them I've found that they're now not displaying that message anymore and, of course, not generating the html and sarif files, using the same `.gitlab-ci.yml` file content.
Do you have any idea of how to solve this? Is this because of something in my environment? Could it be fixed from code?

[2020-09-14 15:13] prabhu commented on #198
I will take it as a defect and fix it.

[2020-09-15 14:46] troyfontaine commented on #196
@prabhu that did the trick, it is now running and the .sarif file is viewable in VSCode.  Thanks!

[2020-09-15 17:37] prabhu commented on #196
Cool. We will release the new extension in a few minutes. As an added bonus, it also comes with a new light color theme.

[2020-09-15 20:34] gitnachogo opened #199 "Improve comments template"
Hi!
As we have been talking in [#support in Discord](https://discord.com/channels/739799745685618730/739799887272607845/755406960089759795), I think it could be nice to dispose of some helpful variables like `recommendation` or `summary`, but just containing the info of some common variables that people could want to retrieve for customizing the template.
For example: `jobId = (f"{gitlab_context.g

[2020-09-17 11:40] prabhu opened #201 "Review of terrascan"
Scan currently uses tfsec along with checkov for majority of IaC languages.

I reviewed terrascan recently for possible inclusion: https://github.com/accurics/terrascan. Below are my personal thoughts:

- opa rego based rules - terrascan uses [openpolicyagent](https://www.openpolicyagent.org/) rego based rules. This is a neat idea that would prevent defragmentation. checkov on the other hand use P

[2020-09-17 11:43] prabhu commented on #199
Thank you

[2020-09-17 11:43] #199 closed

[2020-09-18 03:25] bkhakshoor opened #202 "Bandit rules are hardcoded and can't be configured"
Bandit rules that are skipped are hardcoded [here](https://github.com/ShiftLeftSecurity/sast-scan/blob/master/scan#L293)

There's no way to configure Scan to not skip these rules. Instead, they should be configured in [config.py](https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/config.py) so they can be customized.

[2020-09-19 16:15] gitnachogo commented on #193
As an addition, I've tested from the Windows Powershell to scan HelloShiftLeft using the following command:
[code]
And here the results, where the only file created is `class-report.xml`:
![image](https://user-images.githubusercontent.com/67385224/93671524-08f3d700-faa4-11ea-88f4-d222e8aaff66.png)
Hope this helps a bit!!

[2020-09-22 09:04] #201 closed

[2020-09-22 15:08] #202 closed

[2020-09-25 14:51] Dreamsorcerer opened #205 "Use requirements.txt for Python depscan"
Is it possible to configure the scan to use requirements.txt instead of the system-installed packages?

We have the packages installed in a docker image, but this scan then highlights problems with packages installed on the host system, not what is actually used by the application in production.

[2020-09-25 14:53] prabhu commented on #205
Hi @Dreamsorcerer,

depscan should only use the packages specified in requirements.txt. Will you be able to share the results so that I can investigate? Even email is best: prabhu at shiftleft.io

[2020-09-29 11:12] peterlai-roboops opened #207 "It doesn't seem to scan sub projects"
So as a test, we added a failing library to a sub project's pom in the repo.
SL scan doesn't seem pick it up, when we then removed it, and added it to the main pom in the root folder, it picks it up.

[2020-09-29 11:14] peterlai-roboops opened #208 "It doesnt seem to be able to handle variables in the version"
For example if you use
<version>$version</version> in your pom, it doesn't scan anything.

[2020-09-29 17:43] prabhu commented on #207
Hi @peterlai-roboops

Are you saying dep-scan is not identifying the sub pom.xml? To troubleshoot this, can you run scan with the environment variable

SCAN_DEBUG_MODE=debug

Then inspect the bom-java.json in reports directory to see if all the packages are identified correctly?

[2020-09-29 17:44] prabhu commented on #208
Once we start troubleshooting #207 we can identify the cause for this issue.

[2020-10-01 10:11] prabhu commented on #207
Hi @peterlai-roboops ,

Did you get a chance to test this? Would you prefer a zoom based support?

[2020-10-01 10:51] peterlai-roboops commented on #207
i'm running this:
docker run --rm -e "WORKSPACE=$(pwd)" -e "SCAN_DEBUG_MODE=debug" -v "$(pwd):/app" shiftleft/scan scan -m ci --type depscan

Dependency Scan Summary (java)
╔═════════════╤═══════╤════════╗
║ Severity    │ Count │ Status ║
╟─────────────┼───────┼────────╢
║ UNSPECIFIED │     0 │ ✅     ║
║ LOW         │     0 │ ✅     ║
║ MEDIUM      │     3 │ ✅     ║
║ HIGH        │     4 │ ❌     ║

[2020-10-01 10:53] peterlai-roboops commented on #207
These are the scenarios i've tested with:
code pre-compiled then
		parent pom updated: not detect
		child pom updated: not detect
code un-compile then
		parent pom updated: detect
		child pom updated: not detect
code re-compile
		parent pom updated: detect
		child pom updated: not detect

This is an example of when it does detect it (In this instence, code un-compile, parent pom updated, child pom

[2020-10-01 11:08] prabhu commented on #207
Ah windows. Apologies, Windows is currently broken. Are you able to use WSL2 or any CI such as GitHub?

[2020-10-01 11:10] prabhu commented on #207
Also scan uses openjdk 11. Does your project need jdk 1.8 or a different version?

[2020-10-01 11:16] peterlai-roboops commented on #207
Yea i can put it through our jenkins, thats linux based. Our project needs jdk 1.8, we've also tried running with the --build parameter, that doesn't seem to have an effect.

[2020-10-01 11:19] prabhu commented on #207
Cool. Out of curiosity try replacing `shiftleft/scan` with `shiftleft/scan-java` and use --build parameter. Let me know if you get different results.

[2020-10-02 16:06] prabhu commented on #205
Thank you for your time today. This turned out to be a true positive with one of the sub-project requiring the vulnerable version.

[2020-10-02 16:06] #205 closed

[2020-10-04 16:37] peterlai-roboops commented on #207
Running:
sh
20:21:33  + DISABLE_TELEMETRY=1
20:21:33  + SCAN_DEBUG_MODE=debug
20:21:33  + cd src
20:21:33  + scan --build -m ci --type credscan,depscan

cat ./src/reports/bom-java.json
20:23:11  {
20:23:11    "bomFormat": "CycloneDX",
20:23:11    "specVersion": "1.2",
20:23:11    "serialNumber": "urn:uuid:7c1161e1-1c63-4869-b4e4-3e3871ccf5c7",
20:23:11    "version": 1,
20:23:11    "metadata": {
20

[2020-10-04 16:39] peterlai-roboops commented on #207
Confirmation that a sub-module is downloading the logback dependecy. This should fail as critical.

--- maven-dependency-plugin:2.8:resolve (default-cli) @ ms-price-interfaces ---
20:14:20  [INFO]    ch.qos.logback:logback-classic:jar:1.0.9:compile

[2020-10-04 21:00] prabhu commented on #207
ok, i can see that the bom generation is failing so the tool is falling back to parsing just the root pom.xml.

Can you try using https://github.com/AppThreat/cdxgen to generate a bom file correctly for this project. The generated json file should include logback-classic if it executes correctly. If not we need a zoom session to troubleshoot the issue.

[2020-10-05 05:00] peterlai-roboops commented on #207
cd src
08:58:31  + cdxgen -o bom.xml
08:58:32  Executing 'mvn org.cyclonedx:cyclonedx-maven-plugin:makeAggregateBom' in /home/jenkins/agent/workspace/peter_dxb_feature_add_slscan/src
08:58:34  BOM file written to bom.xml
08:58:34  + cat bom.xml
08:58:34  <?xml version="1.0" encoding="utf-8"?>
08:58:34  <bom xmlns="http://cyclonedx.org/schema/bom/1.2" serialNumber="urn:uuid:ca653af8-538c-483b-9677-

[2020-10-05 09:04] prabhu commented on #207
Can you email me prabhu @ shiftleft .io so that we can have a zoom session to troubleshoot?

[2020-10-05 10:58] prabhu opened #213 "Investigate defectdojo integration"
Time to add native SARIF capability to defectdojo. This will help integrate not just scan but many other tools.

[2020-10-19 14:35] gitnachogo commented on #207
Hi! I think I have the same issue.
Here you got my test cases:

1. Compiled projects using --type java,depscan:
The bom-java.json and .xml are generated, containing the os dependencies in the parent's pom, but nothing else is generated.
The dependency extracted is `bom-ref": "pkg:maven/com.hierynomus/sshj@0.24.0?type=jar"`, so probably this one is not vulnerable, and that's why nothing more (like

[2020-10-19 16:25] prabhu commented on #207
@gitnachogo How are the sub-modules referred in the main pom.xml? Only in the ```<module>``` section or under ```<dependency>``` as well?

[2020-10-19 16:31] prabhu commented on #207
Yes, html file is no longer getting created. This is because after we introduced multiprocessing based concurrency the code that collects all depscan json files to convert is running even before depscan finishes. Have to fix this bug.

[2020-10-19 17:38] gitnachogo commented on #207
It's defined in both places

[2020-10-19 19:15] prabhu opened #218 "Investigate Brakeman integration"
Few people have asked for Brakeman support. Although scan cannot bundle brakeman due to licensing restrictions, let's think about some kind of integration with external invocation.

[2020-10-19 19:16] prabhu commented on #207
ok must see the pom.xml. Can you email me so that we can have a zoom session? prabhu at shiftleft.io

[2020-10-21 08:41] donnie-jp opened #220 "Feature request: iOS language support"
It would be nice to have support for Swift and Objective-C scanning.
Maybe through running https://mobsf.github.io/docs/#/ as a local server in the docker container.

[2020-10-21 08:45] donnie-jp opened #221 "Does Android kotlin project scanning work properly?"
When I scan our project through GitHub Actions scanner I see the following in the scan output:

[code]

It doesn't look like it scanned.
Is Android kotlin supported?

Thanks

[2020-10-21 12:41] prabhu commented on #221
Hi @donnie-jp,

Yes, Android with Kotlin is supported. However, scan requires the project to be compiled which can be either manual or automatic

- Manual: Run the gradle commands before the scan step. Example workflow here - https://github.com/prabhu/AndroGoat/blob/master/.github/workflows/shiftleft-analysis.yml
- Automatic: Set the environment variable ANDROID_SDK_ROOT based on GitHub action doc

[2020-10-21 12:54] prabhu commented on #220
@donnie-jp Good suggestion. I remember seeing mobsf a while ago and decided against bundling it with scan. The tool is a nice static + dynamic analyzer. The static analysis tool, however, uses basic rules with regular expressions - https://github.com/MobSF/Mobile-Security-Framework-MobSF/tree/master/StaticAnalyzer/views/ios/rules

Other than JavaScript which uses a grepping tool (and about to be r

[2020-10-23 00:36] stevesea opened #222 "include depscan results in PR annotation"
depscan doesn't cause the build to break (see https://github.com/ShiftLeftSecurity/sast-scan/issues/136) (reasoning there seems fine), but the depscan results also aren't included in the MR decoration (at least in gitlab).

for example, I've got a nodejs project with the following depscan results:

[code]
and sast scan summary:

[code]

and the MR is decorated with
<img width="651" alt="Screen Sho

[2020-10-23 07:58] prabhu commented on #222
@stevesea Working hard towards this feature. Need some more time :( Only recently we rolled out usage detection for depscan where the results will indicate if the vulnerable package is used in the application or not. Are you able to see this information out of curiosity?

The build breaker logic would have new keys for depscan as shown below:

[code]

`max_required_critical` - This would indicate

[2020-10-23 20:05] #69 closed

[2020-10-23 20:05] #86 closed

[2020-10-23 20:06] #140 closed

[2020-10-23 20:22] prabhu opened #224 "Investigate git mirror"
Apparently, GitHub can disable access to a repo whenever they like. I'm going to look at mirroring all scan related repos with another git provider. Any suggestions?

[2020-10-29 00:45] donnie-jp commented on #221
Thanks. I had to manually compile - just adding the ANDROID_SDK_ROOT didn't work. Probably due to the project structure.

Here's my results:
https://github.com/rakutentech/android-remote-config/pull/43/checks?check_run_id=1319991368

[2020-10-29 00:45] #221 closed

[2020-10-29 08:54] prabhu commented on #221
This looks great! Thank you for supporting scan! Please feel free to drop by to our discord channel for any questions or comments.

[2020-10-31 18:45] prabhu opened #228 "scan container image mirror"
I seriously have no idea how the new dockerhub restrictions would affect scan users. We used to have a quay.io mirror for scan; perhaps that needs to be brought back. Another alternative is github which I am not too keen since it creates a single point of failure.

[2020-11-01 09:14] prabhu opened #229 "Bundle cyclonedx maven plugins"
In organizations using a private maven artifactory, `com.github.everit-org.json-schema:org.everit.json.schema:jar:1.12.1` is not getting downloaded. This is because this particular library is published in jitpack.io where as people tend to use just maven central by default.

[code]

The above error will not show up unless the user explicitly runs the below maven command. The symptom is the entire

[2020-11-01 09:59] prabhu commented on #229
cdxgen 2.0.16 would log maven errors when env variables SCAN_DEBUG_MODE is set to debug or when NODE_ENV is ci.

[2020-11-01 14:51] #222 closed

[2020-11-02 12:34] #228 closed

[2020-11-02 19:00] gitnachogo commented on #229
I've found two ideas to load a plugin.

1. To install it to the local repo, so the following command could be used just before the makeAggregateBom:
[code]
More info here: https://maven.apache.org/plugins/maven-install-plugin/usage.html

2. To get the dependency from the repository:
`mvn dependency:get -DrepoUrl=https://jitpack.io
-Dartifact=com.github.everit-org.json-schema:org.everit.json.schema

[2020-11-02 19:13] prabhu commented on #229
@gitnachogo Thank you for sharing these two commands. Idea #2 sounds interesting. Will you be able to send a PR by adding that command here? https://github.com/AppThreat/cdxgen/blob/master/index.js#L393

[code]

Please run a quick test to make sure it doesn't break anything.

[2020-11-02 20:13] erichs opened #233 "Override dependency scan status when no packages are flagged as Used"
It would be great if the Dependency scan would only fail if vulnerable packages were flagged as Used.

Currently, the tool provides a recommendation like:
✅  `No package requires immediate attention since the major vulnerabilities are found only in dev packages and indirect dependencies.`

However, the Scan Summaries contain a ❌   and the final RC (`$?`) value is 1.

![Screen Shot 2020-11-02 at 3

[2020-11-02 20:36] erichs commented on #233
This occurs when run with the flags: `--mode ci --type credscan,nodejs,depscan`

[2020-11-02 21:49] prabhu commented on #233
Hi @erichs

Great feedback!

Only this weekend, we updated build breaker logic to include dependency scan results. The challenge we have got is that the usage detection support is limited to node.js and java+maven alone. So the default rule is unfortunately mixing and matching two kinds of rules here - https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/config.py#L1247

- max_severity -

[2020-11-02 22:26] #233 closed

[2020-11-03 03:07] erichs commented on #233
Thanks for being so responsive, @prabhu! Appreciated.

[2020-11-03 11:19] #229 closed

[2020-11-12 13:52] prabhu opened #241 "Investigate arm64 support"
ARM 64 support for all those kids who might buy this new slim laptop

[2020-11-13 13:52] gitnachogo commented on #222
Hi @prabhu ! I'm testing this build_breaker_rule for depscan and it doesn't seem to work.
[code]
Output (2 used critical):
[code]

[2020-11-14 19:19] gitnachogo commented on #155
I'd like to start the development of this feature.
To start, I think that we could take the `.findings.json` to use the `internal_id` attribute of each finding. So the user should pass the `.findings.json` file that he wants as a baseline, and then we could compare and mark the recurring issues using the attribute `first_found`.

[2020-11-17 12:30] prabhu commented on #109
I am looking at performing the removal this week. njsscan will be removed from sast-scan, scan images and will be left in scan-oss image.

[2020-11-18 12:53] prabhu opened #245 "composer init has stopped working breaking php"
Affects only the appimage version I think.

[2020-11-18 17:07] #245 closed

[2020-11-20 17:04] prabhu commented on #241
docker for desktop doesn't seem to be ready.

[2020-11-20 17:04] prabhu commented on #198
@gitnachogo Can you take a look at this and send a PR?

[2020-11-20 19:36] gitnachogo commented on #198
Yes, I'm hands on it this weekend, let's see if I can settle this out

[2020-11-20 20:18] gitnachogo commented on #198
It's getting hard for me to reproduce this issue anymore. I've downloaded and kept the vulnerabilities database locally, and I've ran it using wsl2, but the html is always being generated

[2020-11-21 19:43] gitnachogo commented on #82
Is it necessary to test all the sast scanners integrated? I've tried `--type java` without internet connectivity and it has worked pretty well.

[2020-11-21 21:16] prabhu commented on #82
It will be nice to document which domain names are accessed by scan so that they can be opened. Like NVD, GitHub, npm, jitpack and so on

[2020-12-01 11:48] gitnachogo opened #247 "Exception concerning depscan metrics"
Hi!
I've just got this error trying to scan a project using depscan as one of the chosen tools:
[code]
Has there been any recent development that could make this fail?

[2020-12-01 12:51] prabhu commented on #247
Can you send a PR?

Here add 3 more keys for unspecified https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/analysis.py#L51

This is happening because some CVE has a severity of unspecified.

[2020-12-01 14:25] gitnachogo commented on #247
Sure! I'll send you a PR asap!

[2020-12-04 23:04] prabhu opened #250 "pip 20.3 is giving headaches"
Need to figure out the combination of version numbers that would make pip 20.3 happy

[2020-12-04 23:05] #247 closed

[2020-12-07 11:30] #109 closed

[2020-12-11 10:05] #250 closed

[2020-12-21 02:13] noelnuguid opened #257 "whitelist acceptable vulnerabilities"
Is there a way to whitelist vulnerabilities (we have an internal process that certifies that the team is willing to accept the risks of these vulnerabilities) so that scans will still pass without remediating the issues found by the scanner?

I need to implement this in nodjs, python, depscan and credscan.

[2020-12-21 12:14] prabhu commented on #257
Hi @noelnuguid

There is a suppression feature that makes use of a comment tag

https://slscan.io/en/latest/getting-started/#suppression

It may be possible to have a local .sastscanrc file with a big list of ignored rules based on this list https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/config.py#L785

Let me know if this could work. If not, we can definitely revisit and improve t

[2020-12-22 18:24] prabhu opened #258 "python 3.9 support"
After fixing some obvious pyt related issues only insights are failing as of now.

[2020-12-24 11:45] prabhu opened #259 "utf-8 decode error with certain files"
The attached file is triggering a bug with linecache.

[code]

[Utf8_test.php.txt](https://github.com/ShiftLeftSecurity/sast-scan/files/5739455/Utf8_test.php.txt)

[2020-12-24 11:48] prabhu commented on #259
[code]

[2020-12-24 12:38] #259 closed

[2020-12-31 11:49] prabhu commented on #257
@noelnuguid Was the information I had shared useful?

[2020-12-31 11:54] prabhu commented on #218
Brakeman supports SARIF output. However, the information in SARIF is quite unusable lacking code snippet and line information. Scan can automatically convert json output to SARIF format and enhance by adding snippet and other useful information.

Use the below snippet to produce the json before invoking scan.

[code]

Scan would then take the json report source-ruby-report.json produced and use it

[2020-12-31 11:54] #218 closed

[2020-12-31 12:41] #208 closed

[2021-01-19 17:15] #136 closed

[2021-01-19 18:06] #155 closed

[2021-01-19 18:06] #257 closed

[2021-01-29 14:03] BakanovKirill opened #270 "False positive CVE 312 [Python]"
Sample Python code which produces errors:
[code]

[2021-01-29 14:07] #270 closed

[2021-02-18 10:55] nickbabkin opened #275 "Do not drop the build if issue is found"
Hi @prabhu. Thanks for this swiss-army knife of a project.
We're currently piloting it on CircleCI and I'm using this simple config to trigger the scan:

[code]

It seems to work fine except one thing. During the pilot phase, I would like to not drop the build but rather just inform about issues found. What configuration options shall I use to trigger this behavior? Also, is there a flexibility (l

[2021-02-18 11:53] prabhu commented on #275
Hi @nickbabkin,

scan supports an argument `--no-error` to prevent build from failing.

[code]

I also noticed that this flag was not documented at all so will update the docs as well.

Please feel free to explore advanced topics such as [baselining](https://slscan.io/en/latest/getting-started/#baseline) and PR commenting too.

[2021-02-18 12:06] nickbabkin commented on #275
Thanks @prabhu for the quick reply!
I'll try --no-error option to see it if really works in our use case.

Is there an additional flexibility that is possible here? Like as I asked, drop the build for critical severity issues, but do not drop for medium/low?

[2021-02-18 12:32] prabhu commented on #275
Yes, we support build_break_rules. You can create a file in the root directory called `.sastscanrc` with below contents

[code]

More details in the link below

https://slscan.io/en/latest/integrations/tips/#config-file

[2021-02-18 12:33] prabhu commented on #275
We also offer a discord channel for support - https://discord.gg/7WvSxdK

[2021-02-18 13:02] nickbabkin commented on #275
@prabhu this is awesome!
Will happily join the discord as well. Looking forward to contributing and reporting bugs.

[2021-02-18 15:36] nickbabkin opened #276 "PHP app is scanned by PHP linters, report is not produced"
Hi!
Second issue during the day for me.

I'm trying to scan PHP application by running a simple docker-based scan.
SAST-Scan is running without any issues and detecting the language correctly, however reports for _audit-php_ and _taint-php_ are not produced are results are not shown in CLI:

[code]

Any ideas why this may be happening?

[2021-02-18 16:25] prabhu commented on #276
Hi @nickbabkin

For php `--build` argument is required.

https://slscan.io/en/latest/getting-started/#language-specific-scans

[2021-02-18 17:33] prabhu commented on #276
You can also set an environment variable SCAN_DEBUG_MODE=debug which will produce useful debug output. It is turned off by default.

[2021-02-18 21:36] nickbabkin commented on #276
@prabhu thanks, missed this small detail.

We have some internal dependencies in composer (to be fetched from private github repositories), hence build process fails. Which environmental variable shall I set for scan to be able to fetch these dependencies?

I guess GITHUB_TOKEN won't do the job will it?

[2021-02-18 22:21] prabhu commented on #276
You can set an environment variable called `COMPOSER_AUTH` with a json like below and a PAT

[code]

Also set the same token as `GITHUB_TOKEN` so that we can package lookup for depscan

[code]

[2021-02-18 22:23] prabhu opened #277 "Run composer config when github token is available"
[code]

This will help with rate limit as well as fetching private dependencies.

#276

[2021-02-19 09:25] nickbabkin commented on #276
@prabhu is it possible to workaround --build phase for PHP projects and just statically lint the code that already exists in the repository (without fetching composer dependencies and building it)?

We have strict network policies to avoid code leakage and we're gonna run scans with --network none for build containers.

Thanks.

[2021-02-19 09:31] prabhu commented on #276
Yes without --build scan would try it's best to lint but looks like both the php tools are crashing without it. Can you fetch all the dependencies upfront before running scan or have a different environment of some sort?

[2021-02-19 09:34] nickbabkin commented on #276
@prabhu currently without --build in place scan doesn't produce any php reports.

Fetching all dependencies upfront might theoretically be possible, but I'd appreciate if we could find a workaround here. I can help you with debugging this, saw you were looking for people that use scan for PHP projects, well I'm the one :)

[2021-02-19 09:38] prabhu commented on #276
Sounds good. Can you email me prabhu @ shiftleft.io and we can setup a zoom session?

[2021-02-19 09:46] nickbabkin commented on #276
@prabhu there seems to be a workaround indeed:

https://github.com/vimeo/psalm/issues/935

[2021-02-19 10:05] prabhu commented on #276
Will you be able to send a PR? You can build scan image locally using `dev-build.sh`

[2021-02-19 10:14] nickbabkin commented on #276
I'll see what I can do here.
Let's also discuss during our meeting.

[2021-02-19 10:27] nickbabkin commented on #276
I actually got the scan running without --build by simply deleting composer.json, and now the scanner is running! But now I'm getting the following error:

[code]

[2021-02-19 10:57] prabhu commented on #276
Ah ok. Yes, let's go through during the call. The above might be due to our workarounds and may not be the tool error.

[2021-02-24 15:01] nickbabkin opened #278 "Credscan doesn't produce any output or report"
Hi!

I put some dummy AWS key into config.json of my app to check that gitleaks (credscan) tool embedded in sast-scan is really working. Unfortunately, with default settings in place it doesn't output anything:

[code]

Please advice.

[2021-02-24 15:02] nickbabkin commented on #275
@prabhu I was able to confirm that using `--no-error `flag in my CircleCI pipeline doesn't drop the build even if issues are found.

Thanks!

[2021-02-24 15:11] nickbabkin commented on #278
Update: tried without --network none (to make sure it's not a networking issue) - same output.

[2021-02-24 17:09] #275 closed

[2021-02-24 18:36] prabhu commented on #278
@nickbabkin credscan works by scanning the git diff. If the file is not committed yet then you can pass `-m ide` which will scan uncommitted code as well. git is mandatory (hence the name gitleaks). If you want to scan random files without git then consider using Yelp's detect-secrets.

[2021-02-25 11:09] nickbabkin commented on #278
Thanks @prabhu ,

I missed this part.
Does it mean that there's no tool currently embedded in sast-scan that can scan for secret leaks and does the job by scanning source files, not git diff?

[2021-02-25 13:04] prabhu commented on #278
Hi @nickbabkin

That is correct.

[2021-02-25 13:16] nickbabkin commented on #278
@prabhu  would be nice if you consider adding one in the future.
Meanwhile you can close this issue, I got my answer.

[2021-02-25 13:25] prabhu commented on #278
@nickbabkin gitleaks is quite good and works well if scan is used as part of a CI pipeline. Scanning all the files using regex is a time consuming operation and always leads to way many false positives. There will be always directories such as .venv or node_modules that we might forget to ignore which could consume time.

Instead of synthentic test try using scan with circleci across projects.

[2021-02-25 16:36] nickbabkin commented on #278
@prabhu yes I'm currently on my way to integrating it with CI.
Running local scans over various projects to see how the tool handles different scenarios.

[2021-02-25 17:12] prabhu commented on #278
cool. Sounds good to me. Thank you for testing and for your support!

[2021-02-25 17:12] #278 closed

[2021-02-25 17:52] nickbabkin commented on #278
@prabhu I would like to reopen this.
It doesn't work either with CI-based scan (used CircleCI for testing).

Job:

[code]

Output:

[code]

As you see, neither status report, nor report artifact from credscan (gitleaks) were produced in the end.

[2021-02-25 17:54] nickbabkin commented on #278
Here's also a screenshot of resulting artifacts:

<img width="416" alt="Screenshot 2021-02-25 at 6 53 53 PM" src="https://user-images.githubusercontent.com/52065542/109195446-cfce3a00-779a-11eb-9dbf-148a6c4cb71d.png">

[2021-02-25 18:48] prabhu commented on #278
Does gitleaks detect the secret with a depth of 5 which means the secret was added in the last 5 commits? If not we have to run a thorough scan separately by setting the environment variable `CREDSCAN_DEPTH`

https://slscan.io/en/latest/getting-started/#environment-variables

[2021-02-25 19:45] niltongouveajr opened #279 "Output reports directory saved with root permission"
Hi!

Is there a way to generate reports as a non-root user using Docker? I am testing ShiftLeft sast in a pipeline on Azure and the reports directory with root permission is causing problems. The same happened with Jenkins. The tools are unable to remove / clean the workspace from the second run:

`## [error] One or more errors occurred. (One or more errors occurred. (Access to the path '/srv/azur

[2021-02-25 21:58] prabhu commented on #279
Hi @niltongouveajr

docker run command supports --user

`--user 1000:1000`. Please make this match the jenkins user

https://docs.docker.com/engine/reference/commandline/run/

[2021-02-25 22:16] niltongouveajr commented on #279
I tried this. But it seems to me that the tools inside the container need to run as root ...

docker run --rm -e "SCAN_DEBUG_MODE=debug" -e "WORKSPACE=${PWD}" -v $PWD:/app -u $(id -u):$(id -g) shiftleft/sast-scan:latest scan --build

███████╗ ██████╗ █████╗ ███╗   ██╗
██╔════╝██╔════╝██╔══██╗████╗  ██║
███████╗██║     ███████║██╔██╗ ██║
╚════██║██║     ██╔══██║██║╚██╗██║
███████║╚██████╗██║  ██║██

[2021-02-25 22:21] prabhu commented on #279
Is this build step being run as root? The error message is due to the host machine preventing the folder creation for the current user. See if you can create the reports folder upfront and do a `chown`.

We have users who are able to run this as normal users so we should be able to get it working.

[2021-02-25 22:22] prabhu commented on #279
```PermissionError: [Errno 13] Permission denied: '/.local'```

To resolve this particular error set the environment variable VDB_HOME to a directory that can be written to by scan.

[2021-02-25 22:29] niltongouveajr commented on #279
Thank you. What about this?

`PermissionError: [Errno 13] Permission denied: '/app/reports/depscan-report-nodejs.json'`
`PermissionError: [Errno 13] Permission denied: '/app/reports/ngsast-report.findings.json'`

[2021-02-25 22:35] niltongouveajr commented on #279
This fix the problem. Thank you very much!

[2021-02-26 03:35] prabhu commented on #279
Thank you. Will you be able to kindly send a PR on scan-docs to update our docs?

https://github.com/ShiftLeftSecurity/scan-docs/blob/master/docs/integrations/jenkins.md

[2021-02-26 10:01] nickbabkin commented on #278
@prabhu fixed it by putting dummy creds into one of the project files.
(I thought the tool was supposed to output an empty result / empty report if no leaks were found, but it didn't until I actually committed some dummy credentials):

[code]

Thanks!

[2021-02-26 10:05] prabhu commented on #278
Oh nice. Yes gitleaks and many other tools doesn't create an empty report. There was an old ticket for this.

[2021-02-26 13:56] BakanovKirill opened #281 "Python credscan false-positive CWE-312"
Issue appeared with the change of the code from

[code]

to the next:

[code]

And got CWE-312. And i have no idea how to avoid it. Is it a bug?

<img width="729" alt="Screenshot 2021-02-26 at 3 56 09 PM" src="https://user-images.githubusercontent.com/1275854/109308775-26934c80-784b-11eb-91cd-785c009e374c.png">

[2021-02-26 14:02] BakanovKirill commented on #281
Looks like an error with `format()`, as it is only replacing the values in a string, not assigning passwords.

[2021-02-26 14:32] prabhu commented on #281
Are you able to use the baseline feature to suppress this?

https://slscan.io/en/latest/getting-started/#baseline

redis_password is a known default password so do not want to suppress this in the default configuration.

[2021-02-26 15:58] niltongouveajr commented on #279
Sure @prabhu . I tested it first on Azure DevOps. I will test at Jenkins too. I can send a PR for both documents. How should I proceed? Should I create a new branch, push and create the a new PR? Can I do this in this private repository?

[2021-03-01 12:39] BakanovKirill commented on #281
@prabhu yes, thanks, just copied the basefile from the report and now this error is ignored

[2021-03-01 12:39] #281 closed

[2021-03-12 09:14] #279 closed

[2021-03-12 09:15] prabhu opened #282 "Investigate regexploit"
https://github.com/doyensec/regexploit

[2021-03-17 19:02] xortim opened #283 "helpUri for checkov (and maybe others) are broken"
The helpUri generated for checkov scans go to `https://slscan.io?q=${ruleId}`. This page does not redirect to the underlying tool's associated documentation.

Suggestion:
Use the helpUris equivalent generated by the tool itself.

[2021-03-17 20:51] prabhu commented on #283
Hi @xortim

Thanks for raising this ticket. The way checkov generates the helpUri was quite troubling. It was hitting a server endpoint to get the url and there by collecting analytics of all findings of all users. scan runs checkov with `--no-guide` which disables this behavior. So perhaps I will figure out the deeplink used by checkov and generate it directly in the code itself.

[2021-03-18 13:41] xortim commented on #283
That would be great! I didn't even notice that that it was phoning home for this. Resolving the deep links internally would be quite useful. Their approach would be a privacy concern for some users and remove the ability to use the tool offline.

[2021-03-19 22:05] #276 closed

[2021-03-26 05:13] noelnuguid commented on #257
Sorry for the delay. but yes it was useful.

[2021-03-30 10:55] prabhu opened #286 "ANNOUNCE: credscan revamp with BREAKING changes"
scan use gitleaks (4.3) as the tool for credscan. This used git repo and git diff operations to detect secrets. By default, scan used a depth value of 5 and supported an environment variable [CREDSCAN_DEPTH](https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/config.py#L28) for configuration. In addition, scan also REDACTED secrets by default which improved security and compliance at th

[2021-04-02 09:40] #286 closed

[2021-04-06 20:01] prabhu opened #288 "opa support in scan"
Let's support opa and rego to support interesting things

[2021-04-08 14:26] erichs opened #291 "Possible cdxgen false-positives"
I'm seeing false-positive BOM entries (and subsequent vuln findings) for NodeJS lodash@4.17.11 and 4.17.12, that don't seem to be present when running `cdxgen` version 2.2.19. Can the version of `cdxgen` be updated? Is there a way to locally configure the cdxgen version via `.sastscanrc`?

[2021-04-08 15:08] prabhu commented on #291
Hi @erichs ,

scan image is built every day so should always have the latest cdxgen. scan invokes cdxgen in recurse mode with `-r`. Is it possible there are more than 1 package-lock.json or yarn.lock with multiple lodash versions?

[2021-04-08 18:13] erichs commented on #291
ah, I see! Thanks @prabhu. Indeed, I can repro these findings with `cdxgen -r`.

[2021-04-08 20:32] erichs commented on #291
Actually, I think there is still an issue. `cdxgen` BOM reporting appears to generate false-positives when privately scoped repositories in the public NPM registry are added as dependencies. I've isolated this, and attempted to document my findings here: https://github.com/erichs/testdependency-resolution

[2021-04-08 20:36] erichs commented on #291
I think that perhaps `cdxgen` should ignore lockfiles whose full path contains `node_modules`. This will cover over the monorepo use-case while still respecting the resolutions of the top-level lockfiles (which should be considered the source of truth for BOM purposes).

[2021-04-16 10:42] prabhu opened #295 "Need a github action for arm64 builds"
https://github.com/marketplace/actions/build-and-push-docker-images

Our current Azure pipeline based approach simply is not working. There is nothing useful from Microsoft or Docker regarding buildx and arm64 support in Azure Pipelines

[2021-04-20 09:09] prabhu commented on #295
This turned out to be an issue with docker image caching. When building an image with a tag via azure only the amd64 built image is being pushed to docker hub. By simply building images without any tags both amd64 and arm64 builds are properly pushed.

[2021-04-20 09:09] #295 closed

[2021-04-20 11:54] prabhu opened #298 "rush.js build errors"
Seeing the below error while installing rush.js. Probably might need a package in the base image. Any help would be appreciated.

[code]

[2021-04-28 19:36] xortim opened #302 "scan-slim 'gitleaks' not found"
I noticed that when using the scan-slim container, gitleaks doesn't appear to be installed

[code]

Is this expected?

[2021-04-28 19:43] prabhu commented on #302
Hi @xortim , that is correct scan-slim doesn't include many tools. This is the dockerfile used - https://github.com/ShiftLeftSecurity/sast-scan/blob/master/ci/Dockerfile-dynamic-lang .

[2021-04-29 10:53] prabhu commented on #302
@xortim gitleaks is now included in the scan-slim image. Could you kindly give it a try and let me know if it works for you?

[2021-04-29 12:24] xortim commented on #302
Yup! Gitleaks works now, thank you!

[2021-04-29 12:27] xortim commented on #302
Only one suggestion. The terraform lockfile is picked up by gitleaks due to the high entropy. Perhaps adjusting the default configuration to allow this and other common lockfiles.

[2021-04-29 12:40] xortim commented on #302
I took a stab at it here #305

[2021-04-29 12:57] prabhu commented on #302
Great PR! Thanks @xortim !

[2021-04-29 12:57] #302 closed

[2021-04-29 17:13] erichs opened #307 "Consider allowing users to bring their own CycloneDX SBOM files"
There are a couple of cases where this can be helpful:

1. for whatever reason, a CycloneDX-compatible BOM file is already being generated with [one of these tools](https://cyclonedx.org/tool-center/)
2. the [underlying cdxgen](https://github.com/AppThreat/cdxgen/) cannot be made to work with the repo at hand

It would be really great to pass a path to a BOM.xml or BOM.json file via args or `.sast

[2021-04-29 17:22] erichs commented on #307
When cdxgen throws, only an `empty-scan-report.sarif` file is generated.

[2021-04-29 18:16] prabhu commented on #307
@erichs This is an interesting idea. dep-scan already supports scanning based on an existing bom file - https://github.com/AppThreat/dep-scan/blob/master/depscan/cli.py#L95

So a .sastscanrc file like below would work assuming a bom.json exists in src directory.

{
  "depscan": [
        get("DEPSCAN_CMD"),
        "--no-banner",
        "--suggest",
        "--src",
        "%(src)s",
       "--b

[2021-04-29 20:16] prabhu opened #308 "Improve findings for flask-webgoat"
https://github.com/shiftleftsecurity/flask-webgoat

[2021-04-29 23:00] erichs commented on #307
Wow, I missed that. Perfect. Thanks also for the `.sastscanrc` example!

[2021-04-29 23:00] #307 closed

[2021-04-30 12:41] xortim commented on #288
Preferably against the plan file :)

[2021-05-01 00:28] xortim commented on #288
Sorry about the nebulous comment. I'd love to have my terraform plan file scanned using fugue/regula or accurics/terrascan. I'm currently using terrascan separately since there's a comprehensive best set of rules, but regula is natively compatible with OPA, not just the regula policy engine. Meaning, regula uses Rego and OPA itself to normalize the input, whereas terrascan normalizes using their t

[2021-05-01 12:52] prabhu commented on #288
@xortim interesting! I looked at terrascan sometime back and wasn't that impressed so stuck with checkov. Is it working better than checkov in your tests?

[2021-05-02 17:46] prabhu opened #310 "NOTICE: Upgrade python to 3.9 in scan images"
We currently use python 3.8 via RedHat's ubi repositories. Scan is [tested](https://github.com/ShiftLeftSecurity/sast-scan/blob/master/.github/workflows/pythonapp.yml#L11) and is found to be compatible with 3.9. Upgrade to 3.9 would happen once there is a supported version available via RedHat or from another source.

Since AppImage format is a bit less reliable (Thanks to glibc!) compared to the

[2021-05-03 16:53] prabhu opened #312 "Feature: convert only mode for scan"
Some users of scan also have other tools that can output in json format. They would benefit from the automatic sarif conversion performed by this tool.

The idea is that the user can dump all such json in the same reports directory. Then by optionally passing a flag `--convert-only` users can skip any new scans forcing just a sarif conversion.

[2021-05-08 18:07] prabhu opened #316 "Feature: Reports publisher for integration with external services"
Currently, scan creates all the reports locally on the CI build system itself. Some customers then upload the results to a s3 bucket or external platforms such as Splunk Cloud or Google BigQuery for data analysis.

I'm thinking of building some support for reports publishers as a new python package. Initially, ShiftLeft CORE and GitHub Code scanning would be the supported publishers via their resp

[2021-05-10 21:33] erichs commented on #316
@prabhu, very interesting! Direct SARIF-ingestion isn't something @jupiterone is looking at in the short-term, but if there is demand for it, we'll consider it in the future!

[2021-05-28 14:41] srikanth-expent opened #319 "Documentation: Add a link to the full report or issues as a part of the pull requests"
Currently, the pull request comments functionality is great but not actionable as it points out the summary of how many issues and type of issues exist. It can be made super actionable by linking the summary to the actual issue so it would be possible to quickly take a look at the issues and resolve them. An even better flow would be if it would be possible to link specific issues from pull reques

[2021-05-28 14:44] srikanth-expent opened #320 "Ability to make sast-scan required status check"
Currently when I go to set up branch protection rules. I am unable to set the sast-scan as a required status check, although within the pull request it does show up as required status check. Would it be possible to set this as a required check from the branch protection rules? So as shown in the image below - it would also be a required status check?
![Screen Shot 2021-05-28 at 7 43 26 AM](https:/

[2021-06-01 10:44] prabhu commented on #320
@srikanth-expent GitHub automatically creates a check for every Job in a workflow. Could you try invoking scan as a separate job? We may face another issue in that scan is invoked with `--no-error` by default.

[2021-06-03 15:27] davewichers opened #321 "Add tool/scan meta data to .json results file"
Lots of tools generate .json results files. Can you add some metadata to your .json results files that includes data like:
- Toolname
- Tool version
- Scan start time
- Scan complete time
- Maybe GUID for the scan results themselves, in case the same code is scanned again.

Any other overall metadata you think might be useful.

[2021-06-03 20:17] prabhu commented on #321
@davewichers This repo is for the open-source tool called slscan which outputs SARIF files with some metadata as described here - https://slscan.io/en/latest/integrations/sarif/#run

Could you kindly check and let me know if you're looking for any additional metadata?

[2021-06-03 20:35] darkspirit510 commented on #321
@davewichers is talking about a reader I wrote for https://github.com/OWASP/Benchmark. Running

`docker run --rm -e "WORKSPACE=${PWD}" -v ~/.m2:/.m2 -v <source path>:/app shiftleft/scan scan --src /app --type java`

returns several result files:

[code]

For release 2.0.0 the file scan-full-report.json contains:

[code]

-> Wrong version?

The result file only contains endTimeUtc, but no start tim

[2021-06-03 20:38] darkspirit510 opened #322 "bug: invalid json structure in scan-full-report.json"
Running

`docker run --rm -e "WORKSPACE=${PWD}" -v ~/.m2:/.m2 -v <source path>:/app shiftleft/scan scan --src /app --type java`

returns several result files:

-rw-r--r-- 1 sknoop sknoop  92K Jun  3 19:42 .sastscan.baseline
-rw-r--r-- 1 sknoop sknoop 7.1M Jun  3 19:41 class-report.html
-rw-r--r-- 1 sknoop sknoop 7.2M Jun  3 19:41 class-report.sarif
-rw-r--r-- 1 sknoop sknoop  13M Jun  3 19:41 clas

[2021-06-03 20:46] prabhu commented on #322
@darkspirit510 This is in jsonlines format where each line is a json. This can then be imported into supported platforms such as Google BigQuery for advanced analysis.

[2021-06-03 20:49] prabhu commented on #321
@darkspirit510 Now I understand. Since this open-source version wraps findsecbugs the result would be identical to invoking findsecbugs directly. Regarding start times, I will take it as an enhancement request but is going to take sometime.

[2021-06-04 07:53] darkspirit510 commented on #322
Never heard of this, but guess there will be some Java implementation. Then, of course, this is not a bug. Thank you for the reply!

[2021-06-04 07:53] #322 closed

[2021-06-04 08:16] prabhu commented on #322
@darkspirit510 I've shared the python snippet to parse this in the docs - https://slscan.io/en/latest/getting-started/use-cases/#parsing-the-full-report

Hope you could do the same in java: read line by line and parse the json to get the full sarif representation.

[2021-06-05 21:44] prabhu opened #323 "Taint flow to code flow conversion"
For python and php, the tools can perform taint analysis to identify both source and sink. Yet only the source is reported for python and only sink for php. It will be nice to report the sink and present both the source and the sink as codeFlows in SARIF.

[2021-06-08 13:31] prabhu opened #324 "investigate ubi micro"
https://www.redhat.com/en/blog/introduction-ubi-micro

[2021-06-24 12:36] prabhu opened #325 "Investigate skaffold support"

[2021-07-01 18:50] erichs commented on #291
Fixed as of v2.0.1.

[2021-07-01 18:50] #291 closed

[2021-07-01 18:55] erichs opened #326 "Regression in .sastscanrc behavior for scan_type"
Versions 1.15.8 and previous support setting `scan_type` in a local `.sastscanrc` and Versions 2.0.0+ do not.

Given a local `.sastscanrc` (pulled from [test/data/.sastscanrc](https://github.com/ShiftLeftSecurity/sast-scan/blob/master/test/data/.sastscanrc)):
[code]

The following commands demonstrate the regression:

[code]

^^^ Expected scan types seen

[code]

^^^ auto-detected scan types, igno

[2021-07-01 19:59] #326 closed

[2021-07-01 20:08] erichs commented on #326
Amazing! Ty, sir.

[2021-07-02 07:54] prabhu opened #329 "java container builds are failing with the below error"
[code]

[2021-07-02 13:35] prabhu opened #330 "Investigate CodeNarc support"
https://codenarc.org

[2021-07-08 19:06] #329 closed

[2021-07-09 13:15] prabhu opened #332 "Support for automatic issue creation"
It will be nice to create issues on GitHub, GitLab etc automatically from the sarif and depscan files generated by scan. I'm thinking of adding a new command called `reporter` and an argument called `--report` to enable this functionality. The functionality will support some features with sane defaults:

1. Quantity - Single aggregated issue or 1 issue per severity
2. Filters based on category, to

[2021-07-09 16:19] prabhu opened #333 "Support for url based scanning"
Clone repositories and scanning them

[2021-07-13 11:51] prabhu opened #334 "Investigate hercules integration"
https://github.com/src-d/hercules/blob/master/action.yml

[2021-07-15 05:43] donnie-jp commented on #220
Maybe you can add support through the new (I think) https://github.com/MobSF/mobsfscan which doesn't require a server/container - or is that more of an alternative to sast-scan?

[2021-07-15 12:36] prabhu commented on #220
@donnie-jp Thank you for sharing this link. I looked at mobsfscan now, and it looks like a grep based tool and therefore can hardly work. Let's take an example -  deserialization

https://github.com/MobSF/mobsfscan/blob/main/mobsfscan/rules/semgrep/deserialization/jackson_deserialization.yaml

Deserialization occurs when an attacker controlled input is passed to a method without any validation or

[2021-08-25 09:38] prabhu opened #337 "Investigate gh cli extension"
https://docs.github.com/en/github-cli/github-cli/creating-github-cli-extensions

[2021-08-27 18:02] prabhu opened #339 ".sastscanrc file is not read from the current directory when invoking from within the docker"
https://github.com/ShiftLeftSecurity/sast-scan/blob/master/lib/config.py#L1594

It is possibly expecting `SAST_SCAN_SRC_DIR` to be set which could default to "."

[2021-09-01 10:10] prabhu commented on #339
I think we should revisit this style of overriding config and see if there is a better approach out there.

[2021-09-15 15:43] prabhu opened #343 "Better android support"
Perhaps we create a separate docker image for android which bundles the required sdk. Currently, there is a lot of work required to scan android apps from source.

[2021-09-19 01:53] crazy-matt opened #347 "credscan not detecting anything"
Hi,

I tested all combinations of configuration possible and I can't make credscan working.
How I tested? Injecting a file containing:
[code]

and using this workflow https://github.com/crazy-matt/pre-commit-manager/blob/main/.github/workflows/security_scanner.yml

which trigger a job working with the gitleaks action and a second one with your action.

While the first job fails reporting 2 finding

[2021-09-20 17:02] crazy-matt commented on #347
It depends on the context actually. With GDPR, we should be able to scan them because some devs might be tempted pushing Personal Identifiable Information to do some mock testing

[2021-09-20 19:00] prabhu commented on #347
Could you add a new rule similar to this one for capturing username and email. You can reduce the entropy to capture broad values.

https://github.com/ShiftLeftSecurity/sast-scan/blob/master/tools_config/credscan-config.toml#L175

[2021-09-20 19:40] crazy-matt commented on #347
Isn't the rule below enough to do the job without entropy?

https://github.com/crazy-matt/pre-commit-manager/blob/feat%2Ftf-hooks/.security/credscan-config.toml#L84
[code]

[2021-09-20 22:26] crazy-matt commented on #347
I tried again with my rule (https://github.com/crazy-matt/pre-commit-manager/blob/6a8d586ecf4ec288ebbf935de0e793d7f9dafa4b/.security/credscan-config.toml#L84)
+ yours  (https://github.com/crazy-matt/pre-commit-manager/blob/6a8d586ecf4ec288ebbf935de0e793d7f9dafa4b/.security/credscan-config.toml#L100) slightly modified, but I'm not sure this one can handle this kind of leak.

And as you can see on t

[2021-09-21 11:46] prabhu commented on #347
can you set the env variable SCAN_DEBUG_MODE to debug. Let's see what file is passed to gitleaks via scan.

[2021-09-25 10:19] prabhu commented on #347
@crazy-matt How about we invoke both credscan and credscan-git automatically? That would cover both existing and upcoming changes right?

[2021-10-03 15:19] DanArlowski opened #348 "False Positive Handling"
I Couldn't find any info on this in the docs, credscan fails on false positives (On SVG images to be precise)
Is there any way i can flag files as false positives, maybe a `.scanignore` or something like that?

[2021-10-18 15:23] prabhu opened #349 "Build failures"
https://dev.azure.com/shiftleftsecurity/sl-appthreat/_build/results?buildId=3477&view=logs&j=8c8a73d5-6859-5f76-5378-8225aaf2144b&t=0856d940-0890-59d5-bc4c-6cc27393cb5d

[code]

[2021-10-18 15:34] #349 closed, assigned to nobody

[2021-10-22 08:43] prabhu opened #352 "ANNOUNCE: Scan is now in maintenance mode"
Scan version 2 is now in maintenance mode. Only critical fixes if any would be considered, with no new features planned.

# What is the issue?

Scan (formerly AppThreat sast-scan) has served many users including me over these last 2 years. Version 2 brought in lots of exciting new tools and capabilities but demonstrated few limitations which I, personally, am not happy with.

- Container scanning

[2021-11-03 13:49] erichs commented on #352
Really appreciate the tremendous work you've consistently put into slscan over the last 2 years, @prabhu! Thanks for making such a useful tool that meets a huge need. Excited you're thinking afresh about this space, and can't wait to see what you dream up next!

[2021-11-03 20:11] rubenandre opened #354 "Harcoded credentials in associative array not detected"
The credscan component does not detect hardcoded credentials in a php associative array (also, potentially  in multidimensional associative array).

Example Code:

[code]

**Command output**

![image](https://user-images.githubusercontent.com/9402773/140185302-a7aeaed6-395b-49cf-b221-da0771ec4cba.png)

**scan-full-report.json output**

[code]

[2021-11-11 05:40] noelnuguid opened #355 "Whitelist / Exceptions for Terraform Scans"
Hi, is it possible to "accept" certain vulnearbilities in the terraform scan? something like whitelisting it.

[2021-11-30 16:15] prabhu commented on #355
@noelnuguid Could you try the baseline file approach by using `scanPrimaryLocationHash` as described in the docs?

https://slscan.io/en/latest/getting-started/#suppression

[2021-11-30 16:17] prabhu commented on #354
@rubenandre any idea what the 1 suppressed issue was? Could you investigate by running credscan directly?

[2021-11-30 17:54] rubenandre commented on #354
I run credscan directly (gitleaks) and the output does not show any issue.

![image](https://user-images.githubusercontent.com/9402773/144101361-3d22c122-a4b4-40d8-a7ad-03d40aa83ce9.png)

[2021-11-30 18:49] prabhu commented on #354
@rubenandre this is going to require some testing. I think scan is looking for a minimum of 10 characters, where as your password is only 9 characters.

https://github.com/ShiftLeftSecurity/sast-scan/blob/master/tools_config/credscan-config.toml#L177

Could you override the config and let me know how it looks? I'm happy to accept a PR.

[2022-01-10 15:13] avnsiva opened #357 "scan does not create comment in the merge request."

[2022-01-10 15:16] avnsiva commented on #357
Am I getting something wrong here?

[2022-01-15 18:44] farrukhnajmi opened #358 "Command exited with non-zero status 1"
Thanks for a great OSS SAST tool.

I am using slscan using the following command on gradle multi-module project with most ly kotlin code and soem terraform code:

`env ENABLE_OSS_RISK=true time sh <(curl https://slscan.sh)`

On running above command on earlier versions of my code I was getting OSS Risk audit results. After I fixed several issues including fixing OSS Risk audit issues I am now gett

[2022-01-21 08:01] zabbal commented on #352
Is there particular sourcehut repo(s) worth keeping eye on for new developments?

[2022-01-21 10:44] prabhu commented on #352
@zabbal My new tool, a binary linter called blint can be found here https://git.sr.ht/~prabhu/blint

[2022-03-25 15:03] jrg-sierra opened #363 "Latest Version Failing from docker run command"
I was trying to use latest version (v2.0.4) in an azure devops pipeline, however, i got this error:

![image](https://user-images.githubusercontent.com/101296456/160145982-ac70045c-d9dd-4e00-a9f8-1cf3dee61e67.png)

I got it resolved by downgrading version to v2.0.3. Could you please check on this error message?

Thanks.

[2022-03-26 08:07] aroysbox commented on #363
Yes similar error from yesterday in our environment as well

[2022-03-26 08:28] hyeongguen-song commented on #363
https://github.com/ShiftLeftSecurity/scan-action/issues/30
Same as this
Is there any plan to fix?

[2022-03-28 12:19] aviisingh commented on #363
It's same for me as well. Looks like some fix went in for Jinja.
https://stackoverflow.com/questions/71645272/importerror-cannot-import-name-markup-from-jinja2
When we can expect a fix for this?

[2022-03-30 11:00] prabhu commented on #363
This issue is resolved now. Apologies.

[2022-03-30 11:00] #363 closed

[2022-04-08 10:21] TjianL opened #365 "Azure DevOps extension unpublished on marketplace"
First of all, thank you for the all the great work.

It seems that the Azure Pipelines extension is no longer available for installation: https://marketplace.visualstudio.com/items?itemName=shiftleftsecurity.sl-scan-results

I would still like to use the extension within our organisation. Any chance that the extension can get republished?

Thanks!

[2022-05-05 21:34] prabhu commented on #365
@TjianL This project is not maintained anymore. The reports are produced in SARIF format, which is compatible with the Microsoft sarif viewer extension https://marketplace.visualstudio.com/items?itemName=WDGIS.MicrosoftSarifViewer

[2022-05-05 21:38] prabhu commented on #358
@farrukhnajmi The oss risk audit is powered by dep-scan

https://github.com/AppThreat/dep-scan

Can you try running dep-scan directly to see what is going on?

[2022-05-05 21:39] prabhu commented on #357
@avnsiva Is this issue resolved?

[2022-06-15 12:39] daniel-ac-martin opened #367 "SAST analyser for Type/JavaScript"
I notice that [njsscan was previously included](https://github.com/ShiftLeftSecurity/sast-scan/issues/109).

Are there any clear plans on replacing this functionality? e.g. With NG SAST.

[2022-06-15 12:49] prabhu commented on #367
@daniel-ac-martin Entire sast-scan project is now deprecated. We are working on adding javascript support for joern which is a proper data-flow analysis tool.

https://joern.io/

[2022-06-19 21:12] daniel-ac-martin commented on #367
@prabhu: Ah I missed that. It's a shame as it looks like a great project. Thanks for letting me know.

[2022-06-19 21:12] #367 closed

[2022-06-23 10:11] darkspirit510 opened #369 "Running sast-scan on M1 mac does not find anything."
Hi all,

running sast-scan via docker:

[code]

on apple M1 mac works without errors, but does not find anything. Any idea why this happens or if this is a bug?

(full script at https://github.com/darkspirit510/BenchmarkJava/blob/adapt-to-m1/scripts/runShiftLeftScan.sh)

[2022-06-23 10:24] prabhu commented on #369
Could you set the environment variable `-e SCAN_DEBUG_MODE=debug` and share the logs?

[2022-06-23 11:29] darkspirit510 commented on #369
Sure! Here is the result:

[code]

[2022-06-23 13:46] prabhu commented on #369
Thanks @darkspirit510. Perhaps the project has to be compiled first or scan has to be executed with `SCAN_AUTO_BUILD=true` as explained in https://slscan.io/en/latest/getting-started/#environment-variables

Since scan invokes pmd and spotbugs separately the score would simply match either pmd or spotbugs so this exercise isn't going to yield anything interesting. plus this project is deprecated so

[2022-06-23 14:18] darkspirit510 commented on #369
Is this different in the tags `latest` and `arm`? because it works as expected on latest using an intel pc.

[2022-06-23 15:27] darkspirit510 commented on #369
@prabhu you were right! i forgot to build the project. `SCAN_AUTO_BUILD=true` did not help, but a manual `mvn compile` did. Thank you!

[2022-06-23 15:27] #369 closed

[2022-07-20 07:43] shubhdeeprajput opened #370 "SLScan not generating licence compliance report"
Thanks for the great tool. Helps a lot!
We have started using SLScan for licence compliance and open source vunerability management purpose. But, we are facing an issue:
SLScan is not generating licence compliance report. Tested for Go and python but no report generated.
I am sharing the part from CI file:'

`slscan:
  stage: slscan
  image: shiftleft/sast-scan:latest
  script:
    - scan --src ${

[2022-07-20 08:05] prabhu commented on #370
@shubhdeeprajput The environment variable `FETCH_LICENSE` must be set to true as explained in the docs.

https://slscan.io/en/latest/getting-started/#environment-variables

[2022-07-20 12:14] shubhdeeprajput commented on #370
@prabhu Thanks for the quick reply. We tried and are now getting some json file contaning licence information. Not sure if thats how the report should be generated. Can you provide me sample report of licence compliance. I am attaching mine here for your reference.
[license-go.zip](https://github.com/ShiftLeftSecurity/sast-scan/files/9149632/license-go.zip)

[2022-07-22 09:11] sprathod369 opened #371 "Difference between "scan" and "sast-scan" docker images"
Hi,
I happen to explore this tool and found it pretty useful and intersting.
One quick question I had regarding the 2 docker images I see "san" and "sast-scan"
1) shiftleft/scan
2) shiftleft/sast-scan

I did not find anything different browsing through  the image layers in hub.docker.com. However when I ran the analysis using "scan" image and the "sast-scan" image against the same code repository,

[2022-07-22 12:55] prabhu commented on #371
@sprathod369 Thank you for raising this issue. Ideally, the two images must be identical, but it looks like the build has started failing, so the images could be different.

https://dev.azure.com/shiftleftsecurity/sl-appthreat/_build?definitionId=11

You can set the environment variable SCAN_DEBUG_MODE=debug to see the underlying errors. I'm suspecting they are packaging different version of [dep-

[2022-07-25 11:21] sprathod369 commented on #371
Thanks you @prabhu - appreciate your inputs. I did try to set the environment variable SCAN_DEBUG_MODE=debug but did not find anything highlighting the version of dep-scan (or versions of the scan tool tself or any of the integrated tool versions in use e.g checkov etc). This may possibly be an underlying error with "sast-scan" image
![image](https://user-images.githubusercontent.com/73107830/1807

[2022-07-25 11:52] prabhu commented on #371
@sprathod369 This looks like a bug in https://github.com/AppThreat/vulnerability-db/. Could you help me by trying to replicate it there and file a bug in that repo with your observation?

[2022-09-15 16:24] prabhu commented on #370
@shubhdeeprajput Are you not seeing an HTML version of this report?

[2022-09-15 16:25] prabhu commented on #371
@sprathod369 are you still seeing this issue?

[2022-09-16 13:00] sprathod369 commented on #371
No longer an issue when I last checked a couple of weeks back.

[2022-09-16 13:00] #371 closed

[2022-10-02 10:47] HolimaX opened #373 "SAST-SCAN fails in GitHub Actions on Private Repo"
INFO [2022-10-02 10:33:[28](https://github.com/HolimaX/libhacontimig/actions/runs/3168244899/jobs/5159312832#step:12:29),704] ⚡︎ Executing "java -jar /usr/local/bin/detekt-cli.jar -i /github/workspace -r xml:reports/kotlin-report.xml"
Error: Invalid or corrupt jarfile /usr/local/bin/detekt-cli.jar

[2022-10-03 05:14] shubhdeeprajput commented on #370
Yes we are not getting any HTML version of this report. Also, for some repos, license report is generating and for some, its not. We tested on Go and python repos.

[2022-10-04 13:35] prabhu commented on #370
@shubhdeeprajput Must be a bug where the HTML conversion depends on sast or dep-scan results being non-empty, would be my guess. I am no longer maintaining this project, so happy to take any PR.

[2022-10-04 13:36] prabhu commented on #373
Could you try with an earlier tagged version since it could be a bug in the latest scan image?

[2022-10-06 21:21] HolimaX commented on #373
Could you specify/recommend exact one?

[2022-10-19 13:48] HolimaX commented on #373
@prabhu ^ ?

[2022-11-15 11:27] prabhu commented on #373
@HolimaX 2.0.4

[2022-11-30 06:08] hyeongguen-song opened #375 "Fail scan-action"
https://github.com/ShiftLeftSecurity/scan-action/issues/32
Seems since docker image change https://hub.docker.com/layers/shiftleft/scan/latest/images/sha256-b77a1973d201b39a67a24487415bc900cafd5a4bd94f474f5b524b982e547eb9?context=explore

[2022-11-30 07:24] prabhu commented on #375
Found the issue. bom file generated by dep-scan is breaking scan.
[code]

[2022-11-30 08:02] hyeongguen-song commented on #375
It works well
https://github.com/ShiftLeftSecurity/scan-action/issues/32#issuecomment-1331758554

[2022-11-30 08:02] #375 closed